.pagination {
    display: flex;
    justify-content: space-between;
}
.pagination button {
    width: 320px;
}
#answerTableContainer {
    margin-bottom: 10px;
    /* this keeps the table from overflowing */
    overflow: auto;
    position: relative;
}
.tableHeader {
    text-align: center;
    font-size: 15px;
}
.MuiTableCell-body {
    font-size: 12px !important;
}
.upperline {
    border-top: 2px solid black;
}
.underline {
    border-bottom: 2px solid black;
}
.answersetFilter {
    min-width: 30%;
    max-width: 50%;
    max-height: 30%;
    overflow: scroll;
    padding: 10px;
    background-color: white;
    z-index: 10;
    border-radius: 7px;
}
.answersetFilter hr {
    margin: 0;
}
.filterCheckboxLabel > .MuiFormControlLabel-label {
    overflow: auto;
}