amqp==2.5.0
bcrypt==3.1.7
celery==4.3.0
eventlet==0.25.0
flask==1.1.1
flask-mail==0.9.1
flask-security==3.0.0
email_validator==1.0.5
flask-sqlalchemy==2.4.0
flask-restful==0.3.7
flask-graphql==2.0.0
flask_cors==3.0.8
graphene==2.1.7
graphene-sqlalchemy==2.2.1
graphql-relay==2.0.0
graphql-server-core==1.1.1
idna==2.8
flasgger==0.9.3
gunicorn==19.9.0
kombu==4.6.3
neo4j-driver==1.5.3
numpy==1.17.0
pika==1.1.0
psycopg2==2.8.3
psycopg2-binary==2.8.3
redis==3.3.6
requests==2.22.0
-e git+https://github.com/Supervisor/supervisor@dbff619f79c48da0776178e627221da6e40a3261#egg=supervisor