.DS_Store
/node_modules/*
/pack/*
/logs/*
/dist
*.log
*.pyc
*.db
*.bak
*.log
.pylintrc
*.rdb
*.sqlite
bundle.js
.vscode/
*.pid
sandbox
neo4j_plugins
.eslintrc.json
.babelrc
*.tsv
*.tsv.gz
deploy/src
submission/jobs/*
submission/authenticated/*