#newQuestionOptions {
    width: 100%;
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

}
.optionsButton {
    width: 45%;
    height: 200px;
    margin: 20px 0px;
}
.optionButtonDesc {
    white-space: normal;
}
#questionNameSubmit {
    float: right;
    margin: 20px;
}
#centeredQuestionTemplateMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
#centeredQuestionTemplateMenu > .dropdown > .dropdown-menu {
    left: -150%;
}
.questionTemplateDropdown > .dropdown > .dropdown-menu {
    max-height: 250px;
    overflow: auto;
}
.questionListModal {
    border: 1px solid grey;
    border-radius: 5px;
}
/* Custom "icon-spin" class that spins the icon 360 degrees */
.icon-spin {
    -webkit-animation: icon-spin 2s infinite linear;
            animation: icon-spin 2s infinite linear;
}  
@-webkit-keyframes icon-spin {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(359deg);
              transform: rotate(359deg);
    }
}  
@keyframes icon-spin {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(359deg);
              transform: rotate(359deg);
    }
}
#questionTempButton:disabled {
    cursor: not-allowed;
    background-color: #eee;
}