<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/bootstrap.min.css') }}">
  <!-- Optional theme -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/bootstrap-theme.min.css') }}">
  <!-- CSS for Selector Component -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/react-select.min.css') }}">
  <!-- CSS for Notification -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/react-notifications.css') }}">
  <!-- Custom CSS Styles -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
  <div id="reactEntry"></div>
  <!-- Attach React components -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/bundle.js') }}"></script>
</body>