#emptyTableOverlay {
    position: absolute;
    top: 40%;
    left: 45%;
    padding: 10px;
    background-color: #fff;
    border: 1px solid grey;
    border-radius: 5px;
}
.emptyCell {
    padding: 20px !important;
}