.hidden {
  display: none;
}

.ag-row:hover {
  cursor: hand;
}

/* When you click on AG grid rows it highlights the cell for somereason */
.ag-theme-material .ag-cell-focus {
  border: none;
  outline: initial;
}

.close-button {
  margin-right: 10px;
  margin-top: 10px;
  font-size: 16px;
  text-shadow: #f3f3f3 1px 1px 1px;
  color: #3c3c3c;
  cursor: pointer;
}
.close-button:hover {
  color: #000;
}

/* Tooltip for vis.js Network Graphs */
div.vis-tooltip {
  position: absolute;
  padding: 20px;
}
div.vis-tooltip-inner {
  margin: 0px;
  padding: 7px 10px 10px 10px;
  border: 1px solid #555;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.85);
  box-shadow: 2px 2px 2px 0px #444;
  font-family: sans-serif;
  font-size: 0.8em;
  color: #eee;
}
.vis-tooltip span.title {
  color:#60adec;
  font-weight: bolder;
  font-size: 1.2em;
}
.vis-tooltip .field-name {
  font-weight: bold;
}

#answersetSelect .Select-value {
  line-height: 20px;
} 
#answersetSelect .Select-input {
  height: 20px;
}
#answersetSelect .Select-control {
  height: 20px;
} 

/* Default Bootstrap Panel color */
.panel-default > .panel-heading {
  color: #333;
  background-color: #f5f7fa;/*#f5f5f5;*/
  border-color: #ddd;
}

/* A dropdown that doesn't look like a button */
#diminisheddropdown .dropdown-toggle > .btn > .btn-default {
  border: none;
  color: #b8c6db;
}

/* To enable contained modals */
.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}
