a.list-group-item {
    margin: 15px 0px;
}
.jumbotron {
    background-color: #f5f7fa;
    margin-top: 30px;
}
a .list-group-item-heading {
    font-size: 18px;
}
a .list-group-item-text {
    font-size: 16px !important;
}
#landingOptions a {
    text-decoration: none;
    color: #5e5e5e;
}
#landingOptions .list-group-item:hover {
    background-color: #ededed;
}
/* Submit button on api pages. greyed out when disabled. */
#submitAPI:disabled {
    cursor: not-allowed;
    background-color: #eee;
}
.robokopApp {
    margin: 20px 0px;
}
.appQueryOptions input {
    width: 200px;
    float: right;
}
.appQueryOptions label {
    float: right;
}
#dropzoneContainer {
    display: flex;
    justify-content: center;
}
#dropzone {
    width: 65%;
    height: 400px;
    text-align: center;
    display: table;
    border: 1px solid transparent;
    border-color: #e7e7e7;
    border-radius: 4px;
    margin-bottom: 20px;
    cursor: pointer;
}