/* Task Modal CSS */
.modal-dialog {
    width: 70%;
}
.taskListTask {
    cursor: pointer;
}
.taskListTask:hover {
    background-color: lightgrey;
}
.taskListTask.active {
    background-color: lightsteelblue;
}
button.taskListTask {
    padding: 0;
}
.taskListItem {
    width: 20%;
    display: inline-block;
    text-align: center;
    border: 1px solid black;
    height: 100%;
}
.logButton {
    float: right;
    position: relative;
    top: -35px;
    cursor: pointer;
    margin: 0px 10px;
}